<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <script defer src="index.js"></script>
</head>

<body>
    <div class="left_block">
        <header class="head">
            <img class="img_logo" src="img/logo.png" alt="">
            <hr>
        </header>

        <nav class="menu">
            <ul class="list_menu">
                <li class="item_sublevel1">
                    <div class="more">
                        <p class="sublevel_title">ПРОГРАММА</p>
                        <img id="click" src="img/top.svg">

                    </div>
                    <div class="click visibility">
                        <ul class="list_item">
                            <li class="item_sublevel2 el1">HTML/CSS</li>
                            <li class="item_sublevel2 el2">GIT</li>
                            <li class="item_sublevel2 el3">JavaScript</li>
                            <li class="item_sublevel2 el4">React</li>
                            <li class="item_sublevel2 el5">Angular</li>
                            <li class="item_sublevel2 el6">Data</li>
                        </ul>
                    </div>
                </li>
                <li class="item_sublevel1">
                    <div class="more">
                        <p class="sublevel_title">МЕНТОРЫ</p><img id="click" src="img/top.svg">
                    </div>
                    <div class="click visibility">
                        <ul class="list_item ">
                            <li class="item_sublevel2 el1">HTML/CSS</li>
                            <li class="item_sublevel2 el2">GIT</li>
                            <li class="item_sublevel2 el3">JavaScript</li>
                            <li class="item_sublevel2 el4">React</li>
                            <li class="item_sublevel2 el5">Angular</li>
                            <li class="item_sublevel2 el6">Data</li>
                        </ul>
                    </div>
                </li>
                <li class="item_sublevel1">
                    <div class="more">
                        <p class="sublevel_title">ЛЕКЦИИ</p><img id="click" src="img/top.svg">
                    </div>
                    <div class="click visibility">
                        <ul class="list_item ">
                            <li class="item_sublevel2 el1">HTML/CSS</li>
                            <li class="item_sublevel2 el2">GIT</li>
                            <li class="item_sublevel2 el3">JavaScript</li>
                            <li class="item_sublevel2 el4">React</li>
                            <li class="item_sublevel2 el5">Angular</li>
                            <li class="item_sublevel2 el6">Data</li>
                        </ul>
                    </div>
                </li>
                <li class="item_sublevel1">
                    <p class="sublevel_title">ПРАВИЛА ПОСТУПЛЕНИЯ</p>
                </li>
                <li class="item_sublevel1">НОВОСТИ</li>
                <li class="item_sublevel1">ОБРАТНАЯ СВЯЗЬ</li>
            </ul>
        </nav>
        <hr>
        <div class="footer">
            <p class="link">Получить рассылку</p>
            <div class="check">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <div class="right_block">
        <header class="header">
            <div class="header_wrap">
                <div class="left">
                    <ul class="items_left">
                        <li class="item_left">FAQ</li>
                        <li class="item_left">Поддержка</li>
                        <li class="item_left item_left3 "><span>Настройки</span>
                            <div class="item_left_block"></div>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="items_right">
                        <li class="item_right">
                            <div class="item_text">15 готовых дз</div>
                        </li>
                        <li class="item_right">
                            <div class="item_text">18 лекций</div>
                        </li>
                        <li class="item_right">
                            <div class="item_text item_text_block">
                                <div class="img_block">
                                    <img class="img_1" src="img/rect.svg" alt="">
                                    <div class="img_2"> <img src="img/icon.svg" alt=""></div>
                                </div>
                                <div><span class="time">1200</span> <span class="text_time">часов</span></div>

                            </div>
                        </li>
                        <li class="item_account"><img src="img/account.png" alt=""></li>
                        <ul class="name">
                            <li class="sublevel_item_right">Вася Пупкин</li>
                            <li class="sublevel_item_right status">Online</li>
                        </ul>
                        </li>
                        <li class="item_btn"><button class="btn">PRO</button></li>
                    </ul>
                </div>
            </div>
            <hr>
        </header>

        <section class="section">
            <div class="inner">
                <div class="desc">
                    <p class="text_section">Базовый уровень</p>
                    <p class="title_section">HTML/CSS</p>
                </div>
                <div class="btn_wrap">
                    <button class="button">Все лекции</button>
                    <button class="btn_next"><img src="img/left_btn.svg" alt=""></button>
                    <button class="btn_next"><img src="img/right_btn.svg" alt=""></button>
                </div>
            </div>
            <div class="wrap">
                <div class="block">
                    <div class="txt">Лекция</div>
                    <img class="img" src="img/01.png" alt="">
                    <div class="inner_block">
                        <p class="head_block">Структура HTML</p>
                        <p class="text_block b1">Назначение блоков: head, body</p>
                        <hr>
                        <div class="box">
                            <span class="date">01.02.2022</span>
                            <button class="btn_block">Смотреть </button>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="txt">Лекция</div>
                    <img class="img" src="img/02.png" alt="">
                    <div class="inner_block">
                        <p class="head_block">Подключение стилей</p>
                        <p class="text_block b2">Виды подключения стилей. Подключение шрифтов</p>
                        <hr>
                        <div class="box">
                            <span class="date">03.02.2022</span>
                            <button class="btn_block">Смотреть </button>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="txt">Лекция</div>
                    <img class="img" src="img/03.png" alt="">
                    <div class="inner_block">
                        <p class="head_block">CSS</p>
                        <p class="text_block b2">Базовый синтаксис CSS: селекторы, классы</p>
                        <hr>
                        <div class="box">
                            <span class="date">08.02.2022</span>
                            <button class="btn_block">Смотреть </button>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <div class="txt">Лекция</div>
                    <img class="img" src="img/04.png" alt="">
                    <div class="inner_block">
                        <p class="head_block">Наследие и каскад</p>
                        <p class="text_block b1">Наследие и каскад</p>
                        <hr>
                        <div class="box">
                            <span class="date">10.02.2022</span>
                            <button class="btn_block">Смотреть </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner">
                <div class="desc">
                    <p class="text_section">ПРОДВИНУТЫЙ УРОВЕНЬ</p>
                    <p class="title_section">HTML/CSS</p>
                </div>
                <div class="btn_wrap">
                    <button class="button">Все лекции</button>
                    <button class="btn_next"><img src="img/left_btn.svg" alt=""></button>
                    <button class="btn_next"><img src="img/right_btn.svg" alt=""></button>
                </div>
            </div>
            <div class="wrap">
                <div class="block">
                    <div class="txt">Лекция</div>
                    <img class="img" src="img/01.png" alt="">
                    <div class="inner_block">
                        <p class="head_block">HTML-формы</p>
                        <p class="text_block b1">HTML-формы</p>

                    </div>
                </div>
                <div class="block">
                    <div class="txt">Лекция</div>
                    <img class="img" src="img/02.png" alt="">
                    <div class="inner_block">
                        <p class="head_block">Flex</p>
                        <p class="text_block b2">Принципы современной верстки сайта на flex</p>

                    </div>
                </div>
                <div class="block">
                    <div class="txt">Лекция</div>
                    <img class="img" src="img/03.png" alt="">
                    <div class="inner_block">
                        <p class="head_block">Media и viewport</p>
                        <p class="text_block b2">Адаптивная верстка. Использование media и viewport</p>

                    </div>
                </div>
                <div class="block">
                    <div class="txt">Лекция</div>
                    <img class="img" src="img/04.png" alt="">
                    <div class="inner_block">
                        <p class="head_block">CSS Grid</p>
                        <p class="text_block b1">CSS Grid</p>
                    </div>
                </div>
            </div>
        </section>
    </div>


</body>

</html>