<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="vue_style.css">   
</head>
<body>
    <div id="app">
        <header class="head" >
            <h1>Shop</h1>
            <form action="#" class="search-form" @submit.prevent="filter" >
                <input type="text" class="search-field" v-model="search">
                 <button type="submit" class="btn-search"> 
                    <i class="fas fa-search"></i>
                </button>
            </form>
        <div>
            <button id="backet_button" @click="backet_show=!backet_show">Backet</button>
            <div class=backet v-show="backet_show">
                <p v-if="!backet.length">BACKET IS EMPTY</p>
                <div class="backet_product" v-for="good in backet">
                   
               <h3>{{good.product_name}}</h3>
                <p>{{good.price}}</p>
                <p>{{good.quantity}}</p>
                <button id="backet_btn" @click="deleteProduct(good)">&times;</button>
                </div>
            </div>
        </div>
        </header>
<main>
        <div class="goods_list">
        <div class="goods_item" v-for="good in arr_search">
          <h3 class="goods_head">{{ good.product_name }}</h3>
          <p class="goods_price">{{ good.price }}</p>
          <button class="cart_btn" @click="addProduct(good)">Buy</button>
        </div>
    </div>
    </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="vue_shop.js"></script>
</body>
</html>